<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- שם השרת שלך -->
    <add name="DefaultConnection" connectionString="Data Source=Benshabbat\SQLEXPRESS;Initial Catalog=ColorsDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <pages validateRequest="false" />
    <globalization culture="he-IL" uiCulture="he-IL" />
    
    <!-- הגדרות session פשוטות -->
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    
    <!-- הגדרות שגיאות -->
    <customErrors mode="Off" />
    
    <!-- הגדרות אבטחה -->
    <httpCookies httpOnlyCookies="true" />
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="ColorsManager.aspx" />
        <add value="default.htm" />
      </files>
    </defaultDocument>
    
    <httpErrors errorMode="Detailed" />
  </system.webServer>

</configuration>