<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- שם השרת שלך -->
    <add name="DefaultConnection" connectionString="Data Source=Benshabbat\SQLEXPRESS;Initial Catalog=ColorsDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!-- חיבור עם השם המקורי שלך -->
    <add name="Benshabbat\SQLEXPRESS" connectionString="Data Source=Benshabbat\SQLEXPRESS;Initial Catalog=ColorsDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <pages validateRequest="false" />
    <globalization culture="he-IL" uiCulture="he-IL" />
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>